<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
      <div class="title">
        <ion-title class="title">Agenda <br>Telefonica</ion-title>
      </div>

        <div class="btn">
          <ion-button size="large"  color="light" class="btn" class="play"
          routerLink="/lista-tel"><ion-icon name="play"></ion-icon></ion-button>
        </div>



</ion-content>
